@model IEnumerable<ResultModel>
@{
    var id = Html.RandomID();
    ViewBag.Title = "Liste des notes";
}
<section class="row">
    <h1>Liste des notes</h1>
    <table id="@id" class="table table-striped table-hover" data-filter-url="@Url.Action("GetByFilter", "Result")">
        <thead>
            <tr>
                <th>
                    <a class="add-link" href="@Url.Action("AddOrUpdate", "Result")" role="button">
                        <i class="glyphicon glyphicon-plus"></i>
                    </a>
                    <span>Listes des notes</span>
                </th>
                <th>@Html.DisplayNameFor(m => m.Evaluation)</th>
                <th>@Html.DisplayNameFor(m => m.Pupil)</th>
                <th>@Html.DisplayNameFor(m => m.Note)</th>
                <td align="right">
                    <div class="input-group">
                        <input class="form-control" type="text" data-filter-id="@id" placeholder="Rechercher" />
                        <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                    </div>
                </td>
            </tr>
        </thead>
        <tbody>
            @foreach (var result in Model)
            {
                <tr id="@result.Id">
                    <td>
                        <a href="@Url.Action("Get", "Result", new { id = result.Id })">Note</a>
                    </td>
                    <td>@result.Evaluation</td>
                    <td>@result.Pupil</td>
                    <td>@result.Note</td>

                    <td align="right">
                        <a class="update-link" href="@Url.Action("AddOrUpdate", "Result", new { id = result.Id })" role="button">
                            <i class="glyphicon glyphicon-pencil"></i>
                        </a>
                        <a class="delete-link" href="@Url.Action("Delete", "Result", new { id = result.Id })" role="button">
                            <i class="glyphicon glyphicon-trash"></i>
                        </a>
                    </td>
                </tr>
            }
            @if (Model.Count() == 0)
            {
                <tr><td class="text-center" colspan="10">Aucune note.</td></tr>
            }
        </tbody>
    </table>
</section>