@model LogOnModel
@{
    ViewBag.Title = "Connexion";
}

<section class="row">
    <div class="well">
        <h2 class="col-lg-offset-1">Connexion</h2>
        @using (Html.BeginForm("LogOn", "Session", FormMethod.Post, new { @class = "form-horizontal col-lg-12" }))
        {
            @Html.HiddenFor(m => m.ReturnUrl)
            <div class="form-group">
                @Html.LabelFor(model => model.UserName, new { @class = "col-lg-2 control-label" })
                <div class="col-lg-10">
                    @Html.EditorFor(model => model.UserName)
                    @Html.ValidationMessageFor(model => model.UserName)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Password, new { @class = "col-lg-2 control-label" })
                <div class="col-lg-10">
                    @*@Html.PasswordFor(model => model.Password)*@
                    @Html.EditorFor(model => model.Password)
                    @Html.ValidationMessageFor(model => model.Password)
                </div>
                
            </div>

            <p class="col-lg-offset-1"><button type="submit" class="btn btn-primary">Se connecter</button></p>
        }
    </div>
</section>