@model EstablishmentModel
@{
    ViewBag.Title = "AddOrUpdate";
}

<h2>AddOrUpdate</h2>

@using (Html.BeginForm("AddOrUpdate", "Establishment", FormMethod.Post))
{
    @Html.HiddenFor(model => model.Id)

    <p>
        @Html.LabelFor(model => model.Name)
        @Html.EditorFor(model => model.Name)
        @Html.ValidationMessageFor(model => model.Name)
    </p>
    <p>
        @Html.LabelFor(model => model.Address)
        @Html.EditorFor(model => model.Address)
        @Html.ValidationMessageFor(model => model.Address)
    </p>
    <p>
        @Html.LabelFor(model => model.Town)
        @Html.EditorFor(model => model.Town)
        @Html.ValidationMessageFor(model => model.Town)
    </p>
    <p>
        @Html.LabelFor(model => model.PostCode)
        @Html.EditorFor(model => model.PostCode)
        @Html.ValidationMessageFor(model => model.PostCode)
    </p>
    <p>
        @Html.LabelFor(model => model.Academy)
        <select id="ddlAcademies" name="AcademyId"></select>
    </p>
    <p><button type="submit">Sauvegarder</button></p>
}

@section scripts {
<script type="text/javascript">
    $(document).ready(getAcademies());

    function getAcademies() {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetAcademies", "API")",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            failure: function (response) {
                alert(response.d);
            },
            success: function (data) {
                for (var i = 0; i < data.length; ++i) {
                    var opt = new Option(data[i].Name, data[i].Id);
                    $('#ddlAcademies').append(opt);
                }
            }
        });
    }
</script> 
}