@model EstablishmentModel

<h2>@Model.Name</h2>

<p>@Html.LabelFor(model => model.FullAddress) @Model.FullAddress</p>
<p>@Html.LabelFor(model => model.Academy) @Model.Academy</p>
<p>@Html.LabelFor(model => model.Director) @Model.Director</p>

<p><a href="@Url.Action("AddOrUpdate", "Establishment", new { id = Model.Id })">Modifier</a></p>

