@model IEnumerable<EstablishmentModel>

<p><a href="@Url.Action("AddOrUpdate", "Establishment")">Ajouter</a></p>

<table>

    @foreach (var establishment in Model)
    {
        <tr>
            <td><a href="@Url.Action("Get", "Establishment", new { id = establishment.Id })">@establishment.Name</a></td>
            <td>@establishment.FullAddress</td>
            <td><a href="@Url.Action("Delete", "Establishment", new { Id = establishment.Id })">Supprimer</a></td>
        </tr>
    }
</table>
