@model IEnumerable<EstablishmentModel>

<section class="container-fluid">
    <div class="row">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(m => m.First().Name)</th>
                    <th>@Html.DisplayNameFor(m => m.First().Academy)</th>
                    <th>@Html.DisplayNameFor(m => m.First().FullAddress)</th>
                    <th><a href="@Url.Action("AddOrUpdate", "Establishment")">Ajouter</a></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var academy in Model)
                {
                    <tr>
                        <td><a href="@Url.Action("Get", "Establishment", new { id = academy.Id })">@academy.Name</a></td>
                        <td><a href="@Url.Action("Get", "Academy", new { id = academy.AcademyId })">@academy.Academy</a></td>
                        <td>@academy.FullAddress</td>
                        <td><a href="@Url.Action("AddOrUpdate", "Establishment", new { id = academy.Id })">Mettre à jour</a></td>
                        <td><a href="@Url.Action("Delete", "Establishment", new { id = academy.Id })">Supprimer</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>