@model IEnumerable<AcademyModel>

<section class="container-fluid">
    <div class="row">
        <table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(m => m.First().Name)</th>
            <th><a href="@Url.Action("AddOrUpdate", "Academy")">Ajouter</a></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            
        </tr>

        @foreach (var academy in Model)
        {
            <tr>
                <td><a href="@Url.Action("Get", "Academy", new { id = academy.Id })">@academy.Name</a></td>
                <td><a href="@Url.Action("Delete", "Academy", new { id = academy.Id })">Supprimer</a></td>
            </tr>
        }
    </tbody>
</table>
    </div>
</section>