@model ClassroomModel

<h2>@Model.Title</h2>

<ul>
    <li>@Html.LabelFor(model => model.Title) @Model.Title</li>
    <li>@Html.LabelFor(model => model.Establishments) @Model.Establishments</li>
    <li>@Html.LabelFor(model => model.User) @Model.User</li>
    <li>@Html.LabelFor(model => model.Year) @Model.Year</li>
    <li>
        <a href="@Url.Action("AddOrUpdate", "Classroom", new { id = Model.Id })">Modifier</a>
    </li>
</ul>
<h3>Elèves dans la classe</h3>
<table>
    <thead>
        <tr>
            <th>Nom</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var student in Model.Students)
        {
            <tr id="@student.Id"><td><a href="@Url.Action("Get","Pupil", new { Id = student.Id })">@student.Name</a></td></tr>
        }
    </tbody>
</table>