@model ClassroomModel

<h2>@Model.Title</h2>

<ul>
    <li>@Html.LabelFor(model => model.Title) @Model.Title</li>
    <li>@Html.LabelFor(model => model.Establishments) @Model.Establishments</li>
    <li>@Html.LabelFor(model => model.User) @Model.User</li>
    <li>@Html.LabelFor(model => model.Year) @Model.Year</li>
    <li>
        <a href="@Url.Action("AddOrUpdate", "Classroom", new { id = Model.Id })">Modifier</a>
    </li>
</ul>

