@model ClassroomModel

<h2>@Model.Title</h2>

<p>@Html.LabelFor(model => model.Title) @Model.Title</p>
<p>@Html.LabelFor(model => model.Establishments) @Model.Establishments.Name</p>

<p><a href="@Url.Action("AddOrUpdate", "Classroom", new { id = Model.Id })">Modifier</a></p>

